.descrizione{
	font-size: medium;
}

.spaziosopra{
	margin-top: 20px;
}

.spaziosotto{
	margin-bottom: 20px;
}


@media (max-width:768px) and (min-width: 510px){
	.imgfeatures{
	    width: 33%;
	    float: left;
	    position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;

	}
	.caption{
		width: 66%;
	    float: left;
	    position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
	}
}

@media (max-width:510px){
	.imgfeatures{
	    width: 33%;
	    float: left;
	    position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		margin-left: 33%;

	}
	.caption{
		width: 100%;
	    float: left;
	    position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
	}
}

@media (max-width:386px){
	.divider-title{
		margin-bottom: 30px;
	}
}