.thumbnail{
border:0px;
}

.spaziosopra{
	margin-top: 1%;
}

.phone{
	position: fixed;
	width:235px; 
}

.descrizione{
	margin-top: 50px;
}

.prefooter{
	margin-bottom: 60px;
}

@media (min-width: 768px){
	.p1{
		color: black;
	}

	.p2{
		color: lightgray;
	}

	.p3{
		color: lightgray;
	}
}


@media (max-width:992px) and (min-width: 768px){
	.phone{
		width: 20%;
	}
}

@media (max-width: 768px){
	.p1{
		color: black;
	}
	
	.p2{
		color: black;
	}

	.p3{
		color: black;
	}

	.imgResp{
		width: 80%;
		max-width: 153px; 
	}
}


#p3id{
	margin-bottom: 20%;
}

#p2id{
	margin-bottom: 10%;
}

#p1id{
	margin-bottom: 10%;
}


@media (max-width:768px) and (min-width: 360px){
	.primoTitolo{
		margin-top: 1%;
	}
}

.imgResp{
	margin-bottom: 3%;
}


@media (max-width:1200px) and (min-width: 820px){
	.p1{
		margin-left: 5%;
	}
	.p2{
		margin-left: 5%;
	}
	.p3{
		margin-left: 5%;
	}
}

@media (max-width: 537px){
	.divider-title{
	
		font-size:1.3em;
		
	}
	.nome{
		font-size:1em;
	}

}