.logo1{
	width: 50%;
	margin-top: 5%;
	max-width: 136px;
}

.stella{
	width: 5%;
	min-width: 16px;
	max-width: 27px;
	margin-top: 1%;
}

.margine{
	margin-top: 30px;
}

.nome{
	margin-top: 6%;
}

.data{
	margin-top: 6%;
}

.valutazione{
	float:right;
}

.bordo{
	border: 1px solid #ddd;
}

.prefooter{
	margin-bottom: 60px;
}

.domanda{
	padding-left: 0px;
}

.email{
	width: 20px;
}


.spazio{

	margin-top:70px;

}

.spazio_content{

	margin-top:20px;

}

.socials_bar{
	margin-right: -15px;
margin-top: 10px;
}

.contactsImage {
	width: 100%;
	height: 100%;
}



@media (max-width: 994px){
	.divider-title{

	    font-size:1.8em;

	}
}

.panel-success>.panel-heading {
	background-color: #568E86;
	color: #FFFFFF;
}

.buttonNavBar {
	background-color: #568E86;
	color: #E6E6E6;
}

@media (max-width: 593px){
	.divider-title{
		font-size:1.7em;

	}
}

@media (max-width: 537px){
	.divider-title{

		font-size:1.7em;

	}
	.nome{
		font-size:1em;
	}

}
