.logo1{
	width: 50%;
	margin-top: 5%;
	max-width: 136px;
}

.stella{
	width: 5%;
	min-width: 16px;
	max-width: 27px;
	margin-top: 1%;
}

.margine{
	margin-top: 30px;
}

.nome{
	margin-top: 4%;
}

.data{
	margin-top: 7%;
}

.bordo{
	border: 1px solid #ddd;
}

.prefooter{
	margin-bottom: 60px;
}

.domanda{
	padding-left: 0px;
}

.email{
	width: 20px;
}


.spazio{
	margin-top: 4%;
}

.contactsImage {
	width: 100%;
	height: 100%;
}


@media (max-width: 482px){
	.divider-title{
		margin-bottom: 30px;
	}
}

@media (max-width: 339px){
	.divider-title{
		margin-bottom: 70px;
	}
}
